<style>
    .content * {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .content {
        text-align: center;
    }
    .content style {
        display: none;
    }
    .inline * {
        display: inline-block;
    }
    .navlink {
        display: inline-block;
    }
</style>
<p></p>