<ul class="navbar">
    <li><a href="/"><h1 class="navlink">Con<span style="font-weight:bold">Dev</span></h1><img src="/img/static/lightbulb.svg"></a></li>
    <li><button class="navlink menu"><i class="material-icons" onclick="opendiv('vertical', this)">menu</i></button></li>
</ul>
<ul class="vertical" id="vertical" style="display:none">
    <%if(session.userId){%>
        <% if(session.dev){%>
            <li><a href="/devHome" class="navlink">Recommended</a></li>
            <li><a href="/devs/<%=session.user%>" class="navlink">Profile</a></li>
        <%}else{%>
            <li><a href="/clients/<%=session.user%>" class="navlink">Profile</a></li>
            <li><a href="/client/websites" class="navlink">New site</a></li>
        <%}%>
        <li><form action="/logout" method="post" class="link">
            <button class="navlink">Logout</button>
        </form></li>
        <li><a href="http://localhost:8080/home" class="navlink">Projects</a></li>
    <%}else{%>
        <li><a href="/signup" class="navlink">Signup</a></li>
        <li><a href="/login" class="navlink">Login</a></li>
        <li><a href="/" class="navlink">Home</a></li>
    <%}%>
</ul>