<% include partials/header %>
<% include partials/center%>
<p>Looking for a website? Search some ideas!</p>

<form>
    <input class="titleUpd"type="text" name="search" placeholder="Search..." autocomplete="off" id="search">    
</form>
<div id="cont">

</div>
<% include partials/footer %>
