<% include partials/header %>
<% include partials/center%>
<h1 class="title">ConDev</h1>
<p>Looking for a website? Search some ideas!</p>
<form class="inline">
    <input class="bar titleUpd"type="text" name="search" placeholder="Search" autocomplete="off" id="search"> 
    <i class="material-icons submit cta">search</i>   
</form>
<div id="cont">

</div>
<% include partials/footer %>
