<% include partials/header %>
<% include partials/center%>
<div class="box">
    <h1>Signup</h1>
    <form method="post" action="/signup" enctype="multipart/form-data">
        <div class="inline">
            <input type="text" name="username" placeholder="Username..." autocomplete="off" class="titleUpd" required>
            <input type="password" name="password" placeholder="Password..." autocomplete="off" class="titleUpd" required>
        </div>
        <div class="inline">
            <select name="dev" class="submit">
                <option value="false">Client</option>
                <option value="true">Programmer</option>
            </select>
            <label for="file">
                <a class="input submit" style="font-size:2.3vh;width:8vh;" required>Avatar</a>
                <input type="file" name="avatar" style="display:none;" id="file">            
            </label>
        </div>
        <input type="submit" value="Signup" class="submit" style="font-size:2.5vh;">
    </form>
    <% include partials/error %>
</div>
<% include partials/footer %>