<% include partials/header %>
<% include partials/center%>
<div class="box">
    <h1 class="subtitle">Signup</h1>
    <hr>
    <form method="post" action="/signup" enctype="multipart/form-data">
        <div class="inline al">
            <select name="dev" class="submit lg">
                <option value="false">Client</option>
                <option value="true">Programmer</option>
            </select>
            <label for="file">
                <a class="input submit lg" style="font-size:2.3vh;width:8vh;">Avatar</a>
                <input type="file" name="avatar" style="display:none;" id="file">            
            </label>
        </div>
        <input type="text" name="username" placeholder="Username" autocomplete="off" class="titleUpd">
        <input type="email" name="email" placeholder="Email" autocomplete="off" class="titleUpd">       
        <input type="password" name="password" placeholder="Password" autocomplete="off" class="titleUpd">
        <input type="submit" value="Signup" class="cta lg submit" style="font-size:2.5vh;">
    </form>
    <% include partials/error %>
</div>
<% include partials/footer %>