@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
::-webkit-scrollbar {
    width: 0.5vw;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: lightgrey; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
::-webkit-scrollbar-track:hover {
    width: 1vw;
    background-color: #f1f1f1;
}
html, body {
    margin: 0;
    font-family: 'Lato', arial, sans-serif;
    color: #474747;
    font-size: 3vh;
    text-decoration: none;
    background-color: whitesmoke;
    background-size: 100%;
    overflow-x: hidden;
}
.content {
    padding: 10vh 2vw;
    margin: 0;
}
.tiled {
    color: inherit;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 10vh !important;
}
.item {
    background-repeat: no-repeat;
    position: relative;
    margin-right: 8.5vw !important;
    margin-left: 8.5vw !important;
    min-height: 30vh;
}
.item img {
    width: 30vw;
    height: auto;
}
.layer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.8);   
    transition: .02s ease;
    position: absolute;
    opacity: 1;
    margin-top: 0vh !important;
    color: white;
}
.navbar h1 {
    font-weight: 300;
    font-size: 6vh;
    position: fixed;
    left: 3vw;
}
.navbar img {
    position: fixed;
    left: 0;
    width: 3.2vw;
    margin-top: 1vh;
    margin-left: 0.5vw;
}
h1 {
    font-weight: normal;
    font-size: 5vh;
}
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    right:0;
    width: 100vw;
    height: 12vh;
    z-index: 1;
    background-color: whitesmoke;
}
.navbar li, .link {
   display: inline;
   position: sticky;
}
.navlink{
    padding: 2vh 1.5vw;
    display: inline-block;
    margin: 0; 
    transition: .02s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    border-style: hidden;
    font-size: 3vh;
    color: darkslategrey;
}
.vertical .navlink {
    color: whitesmoke;
}
a.navlink:hover, .submit:hover:not(.cta){
    background-color:darkslategrey;
    color: white;
}
a.navlink, button.navlink {
    float: right;
    margin-bottom: 1.5vh;
    margin-top: 1.7vh;
    margin-right: .5vw;
    margin-left: .5vw;
}
.slide {
    display: none;
}
.slide img {
    width: 100%;
}
.slideshow-container {
    max-width: 500px;
    position: relative;
    text-align: center;
    margin: 3vh auto;
}
.next, .prev {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -7vh;
    color: white;
    cursor: pointer;
    padding: 2vh;
    transition: .2s ease-in-out;
}
.next {
    right: 0;
}
.prev {
    left: 0;
}
.next:hover, .prev:hover {
    background-color: darkslategrey;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    border-style: hidden;
    border-color: transparent;
    border-bottom-style: solid;
    border-color: lightgrey;
    outline: none;
    font-weight: normal;
    background-color: transparent;
    transition: .2s ease-in-out;
    height: 5vh;
    width: 10vw;
}
input:focus::placeholder, input:hover::placeholder, .textarea:focus::placeholder, .textarea:hover::placeholder{
    color: darkslategrey;
}
input::placeholder, .textarea::placeholder {
    color: darkgrey;
}
.description {
    width: 40vw;
}
input.titleUpd, textarea.titleUpd{
    width: 15vw;
    height: 7vh;
    text-align: center;
    font-size: 3vh; 
    border-style: solid !important;
    text-align: left !important;
    padding: .2vh 2vw;
}
.submit {
    border-style: solid;
    border-radius: 1px;
    background-color: transparent;
    border-color: darkslategrey; 
    border-width: 1px;
    padding: 1.5vh 1.3vw;
    max-width: 12vw;
    outline: none;
    font-size: 2vh; 
    transition: .2s ease-in-out;
}
.bttn {
    border-style: hidden;
    background-color: transparent;
    padding: 1.5vh 1.3vw;
    max-width: 12vw;
    outline: none;
    font-size: 2.5vh; 
}
.textarea {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1.5px;
    border-radius: 2px;
    height: 25vh;
    width: 38vw;
    padding: 1vh 1vw;
    background-color:  transparent;
    outline: none;
    font-size: 2.5vh;
    transition: .2s ease-in-out;
    font-family: 'Helvetica', arial, sans-serif; 
    color: darkslategray;
}
.textarea:focus, .textarea:hover {
    border-color: darkgrey;
}
.inline * {
    display: inline-block;
}
.al {
    vertical-align: top;
}
.box .inline * {
    margin: .5vh 0;
}
h2 {
    font-size: 4vh;
    font-weight: normal;
}
.navbar i {
    font-size: 4vh;
}
form * {
    margin-right: auto;
    margin-left: auto;
}
.box {
    background-color: #FAFAFA;
    width: 42vw;
    padding: 1vh 4vw;
}
.box * {
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.header-pair input[type="text"]{
    font-size: 5vh;
    color: #474747;
}
.header-pair form {
    padding-top:10vh;
    position: relative;
}
.header-pair {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 0;
    height: auto;
}
.img-box {
    height: 5vh;
    width: 5vh;
    border-style: hidden;
    border-radius: 50px;
}
.avatar {
    padding: 1.5vh 1.5vw;
}
.profile-box {
    width: 30vw;
    border-style: hidden;
    border-radius: 5px;
}
.block :not(.hidden) {
    display: block !important;
}
.profile-container {
    width: 47vw;
    background-color: #FAFAFA;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 3vw;
    padding-bottom: 2vh;
}
.posts-container {
    width: 47vw;
    background-color: #FAFAFA;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 3vw;
    padding-bottom: 2vh;
}
.sm-container {
    width: 100%
}
.heading {
    width: 100%;
    margin-top: 0;
    padding: 2vh 0vw;
}
.msg-box {
    width: 85%;
    padding: 1.5vh 0.7vw;
    margin: 1vh 0vw;
    text-align: left !important;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 3px;
}
.profile {
    width: 100vw;
    height: auto;
    display: block !important;
    position: absolute;
}
.inside {
    display: inline !important;
}
.timestamp {
    text-align: right !important;
    width: 100%;
    color: grey;
    font-size: 2.5vh;
}
.posts-container *, .profile-container *{
    margin-top: 1vh;
}
.shade {
    width: 85%;
    padding: 1.5vh 0.7vw;
    margin: 2vh 0vw;
    border-left-style: solid;
    border-left-color: grey;
    background-color:#F2F2F2;
}
.descrip {
    width: 40vw;
}
.posts {
    width: 95%;
    height: 65vh;
    overflow: auto;
}
.result {
    width: 80vh;
    background-color: #FAFAFA;
}
.result p {
    color: grey;
}
.vertical{
    display: block;
    width: 12.9vw;
    height: 100vh;
    position: fixed;
    right:0;
    background-color: darkslategrey;
    margin: 0;
    z-index: 2;
    box-shadow: 0 0.1px 25px 0 rgba(0, 0, 0, 0.01);  
}
.vertical li {
    right: 0;
    display: block;
    position: relative;
    color: white;
    margin-right: 2vw;
}
.transparent {
    color: transparent;
}
.menu {
    position: fixed;
    right: 0;
    z-index: 3;
}
.title {
    font-size: 10vh;
}
.cta {
    background-color: #F44336;
    color: white;
    border-color: #F44336;
}
.logo {
    width: 20vw;
    transition: .2s ease-in-out;
}
.lg {
    font-size: 3vh !important;
}
button:focus {
    outline: 0;
}
.big {
    font-size: 3.7vh;
    padding: 2vh 1vw;
}
.subtitle {
    font-size: 7vh;
}
hr {
    border-top: 1px solid #D1D1D1;
}
.bubble {
    color: whitesmoke;
    background-color: #F44336;
    padding: 1vh 1vw;  
    border-style: hidden;
    border-radius: 5px;
    font-size: 2.2vh;
    margin-bottom: 0.7vh;
}